body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f6f8fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1, h2, h3 {
  color: #333;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.nota {
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 10px;
  border-radius: 6px;
  background-color: #fdfdfd;
}
.logout-btn {
  background-color: #dc3545; /* rojo Bootstrap */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

.logout-btn:hover {
  background-color: #c82333;
}
.delete-btn {
  background-color: #dc3545;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #c82333;
}